/* body{
    border: 20px 10px;
    background-color:bisque;
}

header{
    text-align: center;
    letter-spacing: 1px;
} */
*{
    box-sizing: border-box;
    
}

header{
    font: bold;
    text-align: center;
    background-color: greenyellow;
}

.text {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    background-color: greenyellow;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}